
.contact-map-wrapper
{ position:absolute;
  display:flex;
  align-items: flex-start;
  align-content: space-between;
  box-sizing: border-box;
  padding: 50px 10%;
  top:140px;
  bottom: 113.15px;
  z-index: -2;
}
.contact-container
{ 
  font-family: open-sans;
  align-self: flex-start;
  margin-right:30px;
}


.email, .telefon{
  display:block;
}

.map
{
align-self: flex-start;
}
.map > img
{ position:relative;
  width: 70%;
  height:inherit;

}

@media screen and (max-width: 723px) {
.contact-map-wrapper
{  flex-direction:column;
   top:86px;
   padding: 50px 10%;
}
.map > img
{
  position:relative;
  width:100%;
 
}

}